.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.875em 1.875em 0 1.875em;
}

@media only screen and (min-width:48.000em) {
    .container {
        flex-direction: row;
    }
}

main {
    max-width: 100%;
    z-index: 1;
}

@media only screen and (min-width:48.000em) {
    main {
        max-width: 50%;
    }
}

main.full-detail {
    margin-top: 4em;
    max-width: 100%;
}

aside {
    max-width: 100%;
    z-index: 1;
}

@media only screen and (min-width:48.000em) {
    aside {
        max-width: 40%;
    }
}

@media only screen and (min-width:48.000em) {
    .sidebar {
        top: 0;
        position: absolute;
        right: 0;
        width: 48%;
        z-index: -1;
    }
}

.detail {
    color: $darkGrey;
}

.image-row {
    display: flex;
    flex-direction: column;
    color: $darkGrey;
    figure {
        position: relative;
        max-width: 33%;
        margin: 0 0 1.5em 0;
        h6 {
            margin-top: 1em;
            text-align: center;
        }
        figcaption {
            position: absolute;
            left: -3%;
            top: -10%;
            max-width: 2em;
            max-height: 2em;
            font-family: $secondaryFont;
            font-size: 4.500em;
            text-align: center;
            background: $white;
            padding: 0.1em;
            border-radius: 5px;
        }
    }
}

@media only screen and (min-width:48.000em) {
    .image-row {
        flex-direction: row;
        figure {
            margin: 0 1.5em 1.5em 0;
            &:nth-child(3){
                margin: 0 0 1.5em 0;
            }
        }
    }
}

figure img {
    max-width: 100%;
    border-radius: 5px;
}

.btn-wrapper {
    justify-content: center;
}

.btn-wrapper.detail {
    justify-content: flex-start;
    display: block;
    margin-top: 3em;
}

.btn.detail {
    margin: 0;
    color: $white;
}

.detail.detail-list {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background: $lightGrey;
    padding: 2em;
    ul {
        counter-reset: countDracula;
        list-style: none;
        list-style-position: inside;
        margin: 1.5em 0;
        li {
            display: inline-block;
            font-family: $bodyFont;
            color: $darkGrey;
            position: relative;
            padding: 2em 0em 2em 4em;
            &:before {
                position: absolute;
                top: 1.250em;
                left: 0;
                content: counter(countDracula);
                counter-increment: countDracula;
                font-family: $secondaryFont;
                font-weight: $font-weight-bold;
                font-size: 4.500em;
            }
        }
    }
}

@media only screen and (min-width:48.000em) {
    .detail.detail-list {
        position: relative;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
        ul {
            li {
                &:before {
                    top: 0.313em;
                }
            }
        }
    }
}

.line-top.detail {
    right: 0;
    display: none;
}

.line-top.detail,
.line-top.detail.sidebar-line {
    right: -50%;
}

.line-top.detail,
.line-bottom.detail {
    z-index: -1;
    opacity: 0.5;
}

@media only screen and (min-width:48.000em) {
    .line-top.detail {
        display: block;
    }
}

figure.detail-img {
    position: relative;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    .img-horizontal {
        display: block;
        max-width: 100%;
    }
    .img-vertical {
        display: none;
    }
    .img-vertical,
    .img-horizontal {
        object-fit: cover;
    }
    figcaption {
        position: absolute;
        bottom: 5%;
        left: 5%;
        font-family: $secondaryFont;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

@media only screen and (min-width:48.000em) {
    figure.detail-img {
        margin-left: 0;
        margin-right: 0;
        .img-horizontal {
            display: none;
        }
        .img-vertical {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}