.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.875em 1.875em 0 1.875em;
}

@media only screen and (min-width:60.000em) {
    .container {
        flex-direction: row;
    }
}

main {
    max-width: 100%;
    z-index: 1;
}

@media only screen and (min-width:60.000em) {
    main {
        max-width: 50%;
    }
}

aside {
    max-width: 100%;
    z-index: 1;
}

@media only screen and (min-width:60.000em) {
    aside {
        max-width: 40%;
    }
}

@media only screen and (min-width:60.000em) {
    .sidebar {
        top: 0;
        position: absolute;
        right: 0;
        width: 60%;
        z-index: -1;
    }
}

.detail {
    color: $darkGrey;
}

aside picture img {
    max-width: 100%;
    border-radius: 5px;
}

.btn-wrapper {
    justify-content: center;
}

.btn-wrapper.detail {
    display: inline-block;
}

.detail.detail-list {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background: $lightGrey;
    padding: 2em;
    ul {
        counter-reset: countDracula;
        list-style: none;
        list-style-position: inside;
        margin: 1.5em 0;
        li{
            display: inline-block;
            font-family: $bodyFont;
            color: $darkGrey;
            position: relative;
            padding: 2em 0em 2em 4em;
        
        
        &:before {
            position: absolute;
            top: 5px;
            left: 0;
            content: counter(countDracula);
            counter-increment: countDracula;
            font-family: $secondaryFont;
            font-weight: $font-weight-bold;
            font-size: 4.500em;
        }
    }
    }
}

@media only screen and (min-width:60.000em) {
    .detail.detail-list {
        position: relative;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
    }
}

.line-top.detail {
    right: 0;
    display: none;
}

.line-top.detail, .line-top.detail.sidebar-line {
    right: -40%;
}

.line-top.detail,
.line-bottom.detail {
    z-index: -1;
    opacity: 0.5;
}

@media only screen and (min-width:60.000em) {
    .line-top.detail {
        display: block;
    }
}

figure.detail-img {
    position: relative;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    .img-horizontal {
        display: block;
        max-width: 100%;
    }
    .img-vertical {
        display: none;
    }
    .img-vertical,
    .img-horizontal {
        object-fit: cover;
    }
    figcaption {
        position: absolute;
        bottom: 5%;
        left: 5%;
        font-family: $secondaryFont;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

@media only screen and (min-width:60.000em) {
    figure.detail-img {
        margin-left: 0;
        margin-right: 0;
        .img-horizontal {
            display: none;
        }
        .img-vertical {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}