@font-face {
    font-family: 'Relative';
    src: url('src/fonts/Relative-Bold.woff2') format('woff2'),
        url('src/fonts/Relative-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Relative';
    src: url('src/fonts/Relative-Medium.woff2') format('woff2'),
        url('src/fonts/Relative-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Relative';
    src: url('src/fonts/Relative-Book.woff2') format('woff2'),
        url('src/fonts/Relative-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Relative';
    src: url('src/fonts/Relative-BookItalic.woff2') format('woff2'),
        url('src/fonts/Relative-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TisaOT-BoldIta';
    src: url('src/fonts/TisaOT-BoldIta.woff2') format('woff2'),
        url('src/fonts/TisaOT-BoldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TisaOT';
    src: url('src/fonts/TisaOT.woff2') format('woff2'),
        url('src/fonts/TisaOT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TisaOT-Ita';
    src: url('src/fonts/TisaOT-Ita.woff2') format('woff2'),
        url('src/fonts/TisaOT-Ita.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TisaOT';
    src: url('src/fonts/TisaOT-Bold.woff2') format('woff2'),
        url('src/fonts/TisaOT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
