  $bodyFont: 'TisaOT',
  sans-serif;
  $secondaryFont: 'Relative',
  sans-serif;
  $font-weight-light: 100;
  $font-weight-regular: 400;
  $font-weight-bold: 600;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $bodyFont;
    font-weight: $font-weight-light;
  } // Color palette
  $blue: #1AC5E3;
  $white: #FFF;
  $lightOrange: #FFA100;
  $orange: #CC8000;
  $darkGrey: #485253;
  $grey: #B5B9BA;
  $lightGrey: #F0F1F1;
  body {
    font-family: $bodyFont;
    color: $white;
    font-size: 16px;
  }

  h1 {
    font-size: 1.75em;
  }

  @media only screen and (min-width:48.000em) {
    h1 {
      font-size: 2.5em;
    }
  }

  h2 {
    font-size: 1.5em;
  }

  @media only screen and (min-width:48.000em) {
    h2 {
      font-size: 2.5em;
    }
  }

  h3 {
    font-size: 1.25em;
  }

  @media only screen and (min-width:48.000em) {
    h3 {
      font-size: 2em;
    }
  }

  h4 {
    font-size: 1.15em;
  }

  @media only screen and (min-width:48.000em) {
    h4 {
      font-size: 1.75em;
    }
  }

  h5 {
    font-size: 1em;
  }

  @media only screen and (min-width:48.000em) {
    h5 {
      font-size: 1.5em;
    }
  }

  h6 {
    font-size: 0.9em;
  }

  @media only screen and (min-width:48.000em) {
    h6 {
      font-size: 1em;
    }
  }

  p {
    font-size: 0.9em;
    margin: 1.125em 0 1.125em 0;
    line-height: 1.5em;
  }

  @media only screen and (min-width:48.000em) {
    p {
      font-family: $bodyFont;
      font-size: 1em;
    }
  }

  a, button {
    cursor: pointer;
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  a {
    font-family: $secondaryFont;
    font-weight: $font-weight-bold;
    color: $white;
  }

  header {
    margin: 2.4em 0 0 2.4em;
  }

  .heading-wrapper {
    padding: .938em .938em .5em .938em;
    margin-left: -1em;
    border-left: 4px solid $white;
  }

  .heading-wrapper.detail {
    border-left: 4px solid $blue;
  }

  .heading-wrapper h1 {
    margin-bottom: .5em;
  }

  .text-component {
    max-width: 100%;
    margin: 2em 2.4em 0 2.4em;
  }

  .text-component.end {
    margin: 15em 2em auto;
  }

  @media only screen and (min-width:48.000em) {
    .text-component {
      max-width: 40%;
    }
    .text-component.end {
      margin: 15em 10em 0 auto;
    }
  }

  .btn-wrapper {
    margin: 1.5em auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    order: 3;
  }

  .btn-wrapper.btn-street {
    margin: -6.5em 0;
    z-index: 10;
  }

  .btn {
    padding: 0.8em;
    border-radius: 5px;
    color: $white;
    background: $orange;
    font-family: $secondaryFont;
    font-weight: $font-weight-regular;
    text-decoration: none;
    margin: 3em auto;
    &:hover {
      opacity: 0.8;
    }
  }

  @media only screen and (min-width:48.000em) {
    .btn {
      padding: 1em;
      margin: 1.5em auto;
    }
  }

  .btn-blue {
    background: $blue;
    margin: 0;
    &:hover {
      opacity: 0.8;
    }
  }

  em {
    font-weight: $font-weight-bold;
  }

  .line {
    display: none;
  }

  .line img {
    max-width: 80%;
  }

  @media only screen and (min-width:48.000em) {
    .line {
  width: 100%;
    }
    .line img {
      max-width: 100%;
    }
  }

  .line-bottom {
    bottom: 0;
    left: 0;
  }

  .line-top {
    top: 0;
    right: 20%;
  }

  @media only screen and (min-width:60.000em) {
    .line-top.end {
      right: -70%;
    }
    .line-bottom.end {
      left: 62%;
    }
  }

  @media only screen and (min-width:48.000em) {
    .line {
      position: absolute;
      display: block; 
    }
    .line-top {
      right: -45%;
    }
  }

  .arrow-up {
    padding: 0 0 0 .7em;
    vertical-align: middle;
  }

  .c2a {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &:after {
      content: "";
      background: url('./images/icons/white_arrow_up.svg');
      width: 8px;
      height: 14px;
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }